*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Inter";
    src: url(../font/Inter/Inter-VariableFont_opsz,wght.ttf);
}

:root {
    /* Colors */
    /* Background */
    --backgroud-color: rgb(249 248 242); /* #f9f8f2 */
    --background-secondary-color: rgb(224 223 218); /* #e0dfda */

    /* Text */
    --text-color: rgb(14 13 6); /* #0e0d06 */
    --text-secondary-color: rgb(38 37 31); /* #26251f */
    --text-third-color: rgb(86 86 81); /* #3e3d38 */
    --text-light-color: rgb(249 248 242); /* #f9f8f2 */

    /* Primary */
    --primary-color: rgb(181 171 84); /* #b5ab54 */
    --primary-light-color: rgb(188 179 101); /* #bcb365 */

    /* Secondary */
    --secondary-color: rgb(189 213 158); /* #bdd59e */
    --secondary-light-color: rgb(196 217 168); /* #c4d9a8 */

    /* Accent */
    --accent-color: rgb(152 195 116); /* #98c374 */
    --accent-light-color: rgb(162 201 130); /* #a2c982 */

    /* Border */
    --border-color: rgb(183 182 180); /* #b7b6b4 */

    /* Shadow */
    --light-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --dark-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    /* Modal */
    /* Error */
    --error-color: rgb(226 72 61); /* #e2483d */
    --error-light-color: rgb(241,91,80);

    /* Success */
    --success-color: rgb(29 122 252); /* #1D7AFC */
    --success-light-color: rgb(56,139,255);

    /* Font */
    --logo-font-size: 2.369rem;
    --title-font-size: 1.777rem;
    --large-font-size: 1.333rem;
    --regular-font-size: 1rem;
    --subfont-large-size: 0.750rem;
    --subfont-medium-size: 0.563rem;
    --subfont-small-size: 0.422rem;
}

body {
    height: 100vh;
}



