@import url(root.css);

/* Content */
.content {
    padding: 2rem;
}

.content .top-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.content .top-content .page-title {
    align-self: center;

    font-family: "Inter", sans-serif;
    font-size: var(--title-font-size);
    font-weight: 600;
    color: var(--text-color);
}

.content .top-content .add-book {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    font-family: "Inter", sans-serif;
    font-size: var(--subfont-large-size);
    font-weight: 500;
    color: var(--text-light-color);

    border: none;
    padding: 1rem 1.5rem 1rem calc(1.5rem - 0.3rem);
    border-radius: 5px;
    background-color: var(--accent-color);

    box-shadow: var(--light-shadow);
    cursor: pointer;

    transition: background-color 0.2s ease;
}

.content .top-content .add-book:hover {
    background-color: var(--accent-light-color);
}

.content .top-content svg {
    height: calc(var(--subfont-large-size) * 1.3);
    fill: var(--text-light-color);
    padding-right: 0.2rem;
}

.content .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
}

/* Book Cards*/
.content .wrapper .book-cards {
    justify-self: center;
    background-color: var(--background-color);
    box-shadow: var(--book-shadow);

    width: 15rem;
    height: 25rem;
    padding: 0.5rem;
    
    position: relative;
}

/* toggle button */
.toggle-menu-book-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
}


.toggle-menu-book-container .toggle-menu-book {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;

    padding: 0.3rem 0.4rem 0px 0.4rem;

    color: var(--text-light-color);
    font-size: 1.3rem;

    transition: all 0.2s ease;
    cursor: pointer;
    
}

.toggle-menu-book-container .toggle-menu-book:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

/* toggle menu */
.menu {
    display: none;
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    z-index: 2;

    background-color: var(--background-color);
    border-radius: 5px;

    /* transition: all 0.2s ease; */
}

.menu.active {
    display: block;
}

.menu div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

    padding: 0.5rem;
}

.menu .done:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0 0;
}

.menu .remove:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0 0 5px 5px;
}

.menu div p {
    font-size: var(--subfont-large-size);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: var(--text-secondary-color);
}

.menu div i {
    font-size: var(--subfont-large-size);
    font-weight: 600;
    color: var(--text-secondary-color);
}

.content .wrapper .book-cards img {
    height: 300px;
    /* width: calc(250px * 0.75); */
    width: 100%;
    object-fit: cover;
}

.content .wrapper .book-cards .description-wrapper {
    display: flex;
    justify-content: space-between;
}


.content .wrapper .book-cards .description-wrapper .book-description {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    padding-top: 0.5rem;
}

.content .wrapper .book-cards .description-wrapper .book-description .book-title {
    font-family: "Inter", sans-serif;
    font-size: var(--larger-font-size);
    color: var(--text-secondary-color);
    font-weight: 580;
}

.content .wrapper .book-cards .description-wrapper .book-description .book-author {
    font-family: "Inter", sans-serif;
    font-size: var(--subfont-large-size);
    color: var(--text-third-color);
    font-weight: 400;
}

/* Progress Bar */
.content .wrapper .book-cards .progress-bar { 

}

.content .wrapper .book-cards .progress-bar svg {
    width: 70px;
    height: 70px;

    transform: rotate(-90deg);
}

.content .wrapper .book-cards .progress-bar svg #progress--circle {
    stroke-dasharray: 100;
    stroke-dashoffset: 95; /* to change the percentage*/
    stroke-linecap: round;
}

.content .wrapper .book-cards .progress-bar svg #progress--text {
    font-family: "Inter", sans-serif;
    font-size: var(--subfont-large-size);
    font-weight: 500;
    color: var(--text-secondary-color);

    fill: var(--text-color);

    /* transform-origin: center; */
    transform: rotate(90deg);
}

/** Circle svg link: https://codepen.io/ethanforvest/pen/xxMOZBj **/