@import url(root.css);

.new-book-container {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);

    z-index: 2;
    transition: all 0.2s ease;
}
.new-book-container[data-overlay-container='true'] {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.new-book-container[data-overlay-container='false'] {
    top: -50px;
    opacity: 0;
    visibility: hidden;
}

.new-book-container .new-book-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--background-color);
    box-shadow: var(--dark-shadow);
    padding: 2rem;

    width: 100%;
    max-width: 30rem;

    z-index: 3;
}

.new-book-wrapper .line {
    width: 100%;
    height: 4px;

    margin-bottom: 1rem;

    /* background-color: var(--secondary-light-color); */
    background: linear-gradient(to right, var(--primary-light-color), var(--secondary-color));

    opacity: 0.9;

    transition: all 1s ease;
}


.new-book-wrapper .add-book-title {
    font-family: "Inter", sans-serif;
    font-size: var(--large-font-size);
    font-weight: 590;
    color: var(--text-color);
}

.new-book-section .new-book {
    display: grid;
    gap: 1rem;
}

.new-book .form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-family: "Inter", sans-serif;
    font-size: var(--regular-font-size);
    font-weight: 500;
    color: var(--text-secondary-color);

    padding-bottom: 0.2rem;
}

.form-group input {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);

    height: 2rem;
    width: 100%;
    padding: 0.5rem;

    outline: none;

    font-family: "Inter", sans-serif;
    font-size: var(--subfont-large-size);

    -webkit-appearance: none;
    border-radius: 0;

    transition: border 0.2s ease;
}

.form-group .new-book-year::-webkit-outer-spin-button,
.form-group .new-book-year::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-group .new-book-year {
    -moz-appearance: textfield;
}

.form-group textarea {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);

    height: 10rem;
    width: 100%;
    padding: 0.5rem;

    outline: none;

    font-family: "Inter", sans-serif;
    font-size: var(--subfont-large-size);

    -webkit-appearance: none;
    border-radius: 0;

    resize: none;

    transition: border 0.2s ease;
}

.form-group input[data-is-valid='false'], .form-group textarea[data-is-valid='false'] { /* change to general uses */
    border: 1px solid var(--error-color);
}

.form-group input[data-is-valid='true'], .form-group textarea[data-is-valid='true'] { /* change to general uses */
    border: 1px solid var(--success-color);
}

.form-group input:focus, .form-group textarea:focus { 
    border: 1.5px solid var(--primary-color);
}

.form-group span {
    font-style: italic;
    font-family: "Inter", sans-serif;
    font-size: var(--subfont-large-size);
    font-weight: 400;
    color: var(--text-third-color);
}

.option-buttons {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

.option-buttons .new-book-button {
    background-color: var(--accent-color);
    border: none;

    color: var(--text-light-color);
    font-family: "Inter", sans-serif;
    font-size: var(--subfont-large-size);
    font-weight: 590;
    
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;

    transition: all 0.2s ease;
}

.option-buttons .submit-button:hover {
    background-color: var(--accent-light-color);
}

.option-buttons .cancel-button {
    outline: 2px solid var(--secondary-color);
    outline-offset: -2px;
    /* background-color: var(--secondary-light-color); */
    background-color: var(--background-color);
    color: var(--text-secondary-color);
    transition: all 0.2s ease;

}

.option-buttons .cancel-button:hover {
    background-color: var(--secondary-light-color);
    color: var(--primary-color);
    outline: none;
}
