*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Inter";
    src: url(./font/Inter/Inter-VariableFont_opsz,wght.ttf);
}

:root {
    /* Colors */
    /* Background */
    --background-color: rgb(253 252 252);
    --background-secondary-color: rgb(228 227 227);

    /* Text */
    --text-color: rgb(20 14 15);
    --text-secondary-color: rgb(67 62 63);
    --text-third-color: rgb(114 110 111);
    --text-light-color: rgb(253 252 252);

    /* Primary */
    --primary-color: rgb(154 105 113);
    --primary-light-color: rgb(174 135 141);

    /* Secondary */
    --secondary-color: rgb(200 183 173);
    --secondary-light-color: rgb(211 197 189);

    /* Accent */
    --accent-color: rgb(180 166 143);
    --accent-light-color: rgb(195 184 165);

    /* Border */
    --border-color: rgb(183 182 180); /* #b7b6b4 */

    /* Shadow */
    --light-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.16);
    --dark-shadow: 0 6px 12px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.18);

    --book-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.16), 0 0 5px 2px rgba(0, 0, 0, 0.12);
    --book-shadow-hover: 0 0 20px 10px rgba(0, 0, 0, 0.20), 0 0 10px 5px rgba(0, 0, 0, 0.16), 0 0 5px 2px rgba(0, 0, 0, 0.12);

    /* Modal */
    /* Error */
    --error-color: rgb(226 72 61); /* #e2483d */
    --error-light-color: rgb(241,91,80);

    /* Success */
    --success-color: rgb(29 122 252); /* #1D7AFC */
    --success-light-color: rgb(56,139,255);

    /* Font */
    --logo-font-size: 2.369rem;
    --title-font-size: 1.777rem;
    --large-font-size: 1.333rem;
    --regular-font-size: 1rem;
    --subfont-large-size: 0.750rem;
    --subfont-medium-size: 0.563rem;
    --subfont-small-size: 0.422rem;
}

body {
    height: 100vh;
    background-color: var(--background-color);
}



